// Global styles goes here
html,
body {
    height: 100%;
    width: 100%;
    // overflow: hidden;
}

#root {
    height: 100%;
    width: 100%;
    background-color: $primary;
}

// :root.dark {
//     --bg-color: #333;
//     --text-color: #fff;
// }

// :root.light {
//     --bg-color: #fff;
//     --text-color: #000;
// }

.color-primary {
    color: var(--text-color);
}

.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}