.registration-form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6e9bc2;
}

.form-size {
    width: 30%;
    background-color: white;
}

.form-Control {
    padding: 5px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #ccc;
    margin: 8px 0;
}

.btn-wrapper button {
    padding: 10px 20px;
    background-color: rgb(35, 159, 196);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.detail-text {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.main-text {
    color: blue;
    cursor: pointer;
}