.background-wrapper {
    height: 100%;
    background: url(./../../assets/Images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}



.login-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /* background-color: #6e9bc2; */

}

.loginform-size {
    width: 25%;
    background-color: white;
}

@media(max-width:992px) {
    .loginform-size {
        width: auto;
    }
}

.heading-text {
    width: 100%;
    text-align: center;

}

.error-message {
    color: red;
}

.form-Control {
    padding: 5px;
    border-radius: 4px;
    /* width: 100%;/ */
    border: 1px solid #ccc;
    margin: 8px 0;
    outline: none;
}

.btn-wrapper button {
    padding: 10px 20px;
    background-color: rgb(45, 164, 207);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.detail-text {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.main-text {
    color: blue;
    cursor: pointer;
}