/* 
   Brand Logo and Primary Navigation
*/
.header-size {
   height: 65px;
   border-bottom: 1px solid $secondary;
}

.header-img-wrapper {
   height: 35px;
   width: 35px;
   overflow: hidden;
   border-radius: 50%;

   img {
      height: auto;
      width: 100%;
   }
}

.header-icon-wrapper {
   height: 35px;
   width: 35px;
   border-radius: 50%;
   @include flex-center;
   position: absolute;
   left: 60%;
   background-color: hsl(201.55deg 46.61% 43.33%);

   .icon {
      padding: 5px;
      font-size: 14px;
      color: $secondary;
   }
}

.nav-link {
   height: 92%;
   @include flex-center;
   padding: 0px 18px;
   font-size: 25px;
   color: $secondary;

   &:hover {
      border: 3px solid hsl(70.95deg 89.16% 67.45%);
   }

   &.active {
      border: 3px solid hsl(70.95deg 89.16% 67.45%);
   }
}